
$blue: #6dadca;
$black: #232829;
$white: #FFFFFF;
$pink: #d8ade8;
$purple: #40114f;
$grey: #F5F5F5;

$primary: $blue;
$secondary: $purple;

$link: $secondary;

$info: $pink;

$text: $white;

$backgroud: $grey;